@require "../application.styl";

div.dropdown { width:100%;
	&.placeholder>button { color:placeholder-colour; }
    &.error>button { border-color:#a94442; }
	>button, >ul { width:100%; }
	>button { transition:border-color ease-in-out 150ms; background:white;
		&:hover { background:white !important; }
		>span { float:left; }
		>i { float:right; vertical-centre(20px); }
	}
	>ul { cursor:pointer; }
}