@require "application.styl";

header { 
	.logo { color:secondary-font-colour !important; font-weight:bold; text-transform:uppercase;
		&:hover { color:secondary-font-colour !important; }
	}
    
	.account-info { float:right; color:white; font-size:0.875em; margin-top:8px;
		>span { float:right; }
		>a { float:right; cursor:pointer; }
	}
}