@require "../application.styl";

div.equipment-profile-container {
	>h2 { float:left; width:100%; }
	>span.error { float:left; width:100%; margin-top:spacing; font-weight:bold; color:red; display:none;
		&.show { display:inline; }
	}
	>ul { float:left; width:100%; margin-top:spacing*2; }
	>div.tab { float:left; width:100%; padding:spacing 0; border-box;
		>div { float:left; width:100%; }
	}
	
	.nav-tabs a { cursor:pointer; }
	
	div.tab {
		&.hide { display:none; }
		.row { margin-top:small-spacing;
			&:first-child { margin-top:0; }
		}
		.details-label { color:#999; }
		.details-value { font-weight:bold; }
	}

	div.button-tab { 
		>button { float:left; }
		>div { float:left; width:100%; margin-top:spacing; }
	}

	div.cylinder-configuration {
		>button { float:left; }
		div.cylinder { float:left; width:100%; padding-top:spacing; border-top:border; margin-top:spacing;
		
		}
	}
}