@require "../application.styl";

.management-container {
	>h2 { float:left; }
	>div.actions { float:right; }
	
	>div.user-filter { float:left; width:100%; margin-top:spacing;
		>input { float:left; width:250px; }
		>div.dropdown { float:left; width:250px; margin-left:spacing; }
	}
	
    >div.user-list { float:left; width:100%; margin-top:spacing;
        td.actions { padding:0; width:71px; }
        i.fa-pencil, i.fa-trash { float:left; width:35px; text-align:center; color:black; cursor:pointer; vertical-centre(35px);
            &:hover { color:secondary-font-colour; }
        }
    }
}